.venv/
venv/
*.pyc
data/
*/__pycache__/*
*.jpg
venv/
.idea/
wandb/
# datasets
dataset/
data/
datasets/

# heavy files
*.zip
*.tar
*.csv
*.h5
.github
venv/
EnhancementNet/AI_SUMMIT_ENHANCEMENT/
EnhancementNet/image_enhanced/
rclone-current-linux-amd64.zip